version: '3'

services:
  microservice_a:
    image: 'trgassessment/microservice_a:latest'
    container_name: microservice_a
    hostname: microservice_a
    ports:
      - '8081:8080'
    environment:
      - QUARKUS_DATASOURCE_USERNAME=eemcedng
      - QUARKUS_DATASOURCE_PASSWORD=PixhX6gac2suncgQV_OED6o0hITSWTYj
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://rogue.db.elephantsql.com:5432/eemcedng
  microservice_b:
    image: 'trgassessment/microservice_b:latest'
    container_name: microservice_b
    hostname: microservice_b
    ports:
      - '8082:8080'
    environment:
      - ORG_TRG_MICROSERVICEARESTCLIENT_MP_REST_URL=http://microservice_a:8081/
    depends_on:
      - microservice_a
  microservice_c:
    image: 'trgassessment/microservice_c:latest'
    container_name: microservice_c
    hostname: microservice_c
    ports:
      - '8083:8080'